.authentication__button {
  background-color: #fff;
  color: #000;
  border-radius: 2px;
  min-height: 50px;
  transition: opacity .3s ease-out;
}

.authentication__button:hover {
  cursor: pointer;
  opacity: 0.6;
}