.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: opacity .3s ease-out;
}

.header__link:hover {
  cursor: pointer;
  opacity: 0.6;
}