.authentication__input {
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: none;
  border-style: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 12px;
}
